* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: #1f2937;
  font-family: "Roboto";
}


.header-image{
  display: block;
  max-width: 70px;
  height: auto;
}

.header-links {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

li {
  list-style: none;
  font-size: 18px;
}

ul {
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  gap: 16px;
  padding: 16px;
  
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  max-width: 35%;
  
}
.hero-left button{
  padding:  5px 30px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  border: 1px solid #3882F6;

}

.hero-right {
  display: flex;
  max-width: 35%;
  flex-direction: column;
  justify-content: center;
  flex: 1;

}

.hero-image{
 max-width: 100%;
 border-radius: 8px;
 height: auto;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.button-container {
  display: flex;
  margin-top: 8px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 12px;
  padding: 8px;
  border: 1px;
}



.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
}

.content-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.content-item-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  gap: 20px;
  
}

.content-flex-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.quote-wrapper{
  background-color: #e5e7eb;
  padding: 32px 0px;
  display: flex;
  justify-content: center;
}
.quote-container{
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  
}

.quote-text{
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
 
}

.quote-author{
  align-self: flex-end;
  margin-top: 16px;
  font-weight: 900;
  
}


.call-to-action-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

.call-to-action-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 32px;
  gap: 64px;

}

.call-to-action-main-left{
  
}

.call-to-action-main-left p:first-of-type {
    font-weight: bold;
    font-size: 18px;
}


.call-to-action-main-left p {
  color: #e5e7eb;
}

.call-to-action-main-right{

}

.call-to-action-main-right button{
border-radius: 8px;
border: 1px solid white;
padding: 5px 30px;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 32px;
}

.footer-text{
  display: flex;
  color: white;
  
}